/* container */
.step-wizard-list {
    list-style-type: none;
    border-radius: 7px;
    display: flex;
    padding: 20px 10px;
    position: relative;

  }
  
  /* item */
  .step-wizard-item {
    padding: 0 20px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 170px;
    position: relative;
  }
  /* connector line */
  .step-wizard-item + .step-wizard-item:after {
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background-color: #0acb8e;
    width: 100%;
    height: 3px;
    transform: translateX(-50%);
    /* z-index: -10; */
  }
  /* circle */
  .progress-count {
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index: 10;
    color: transparent;
    /* background-color: violet; */
  }
  /* .progress-count:after {
    content: "";
    height: 30px;
    width: 30px;
    background: #0acb8e;
    background: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
  } */
  /* .progress-count:before {
    content: "";
    height: 5px;
    width: 10px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
  } */
  .progress-label {
    font-size: 0.75rem;
    font-weight: 600;
    margin-top: 10px;
  }
  .current-item .progress-count:before,
  .current-item ~ .step-wizard-item .progress-count:before {
    display: none;
  }
  .current-item ~ .step-wizard-item .progress-count:after {
    height: 10px;
    width: 10px;
  }
  .progress-label {
    opacity: 0.5;
  }
  .active{
    opacity: 1;
  }
  /* .current-item .progress-count:after {
    background: #fff;
    border: 2px solid #0acb8e;
  } */
  /* .current-item .progress-count {
    color: #0acb8e;
  } */

  .ongoing-item{
    background-color: #fd5190;
    color: #fff;
  }

  .active-item{
    background-color: #0acb8e;
    color: #fff;
  }

  .presented-item{
    background-color: #9e6de0;
    color: #fff;
  }

  .published-item{
    background-color: #04c7e0;
    color: #fff;
  }